body{
	background-color: #ccf0ff;
}
#installatie{
	background-color: green;
}
#alarmen{
	background-color: red;
}
#trend{
	background-color: blue;
}
#systeem{
	background-color: #e6e600;
}
#documentatie{
	background-color: purple;
}
#back{
	background-color: #000099;
}
.button_2{
	background-color: #00008b;
}
.button_1, .button_2{
	margin: 4px 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	cursor: pointer;
	font-size: 25px;
	border-radius: 7%;
	font-family:Tahoma;
}
@media screen and (min-width: 1024px){
.button_1, .button_2{
	height:300px;
	width:25%;
}
}
@media screen and (max-device-width: 640px){
.button_1, .button_2{
	height:100px;
	width:100%;
}
}