body{
	background-color: #ccf0ff;
}
#installatie{
	background-color: green;
	float: left;
	border-radius: 4px;
}
#alarmen{
	background-color: red;
	float: left;
	border-radius: 4px;
}
#trend{
	background-color: blue;
	float: left;
	border-radius: 4px;
}
#systeem{
	background-color: #e6e600;
	float: left;
	border-radius: 4px;
}
#documentatie{
	background-color: purple;
	float: left;
	border-radius: 4px;
}
#back{
	float: left;
	border-radius: 10%;
	height:100px;
	background-color: #000099;
}
.button{
	margin: 4px 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	cursor: pointer;
	font-size: 25px;
}
ul{
	list-style-type: none;
}
/*smartphones*/ 
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), 
    only screen and (max-width: 736px){
	.button{width: 100%;}
	.button{height: 500px;}
}
@media only screen and (min-width: 736px) {
	.button{width: 300px;}
	.button{height: 300px;}
}